
body,
h1,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.titulo {
    font-size: 20px;
}

h2 {
    margin-left: 30px;
}

/* Estilos generales */
body {
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    background-color: #f7f7f7;
    color: #333;
}

iframe {
    width: 100%;
}

.image-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.image-collage img {
    width: 100%;
    height: auto;
}

.bg-pink {
    background-color: pink !important;
}





@import './sections/header';

@import './sections/section';

@import './sections/fieldset';

@import './sections/footer';