/*header*/
header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(228, 182, 182, 0.1);
    font-family: 'Signika', sans-serif;
    font-weight: normal;

    & nav {
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
        li {
            margin: 0 15px;
        }
        a {
            color: #0074d9;
            text-decoration: none;
            transition: color 0.3s;
        }
        a:hover {
            color: #00aaff;
            text-decoration: underline;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;

    .logo-letra {
        font-family: 'Signika', sans-serif;
        font-weight: bold;
        font-size: 45px;
        /* Tamaño de la letra del logotipo */
        font-weight: bold;
        color: white;
        /* Color del logotipo */
        margin-right: 10px;
        /* Espacio entre la letra y los botones */
    }
}


.bg-orange {
    background-color: #F28157 !important;
}